@model ddac.Models.Hotel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Hotel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Hid" />
            <div class="form-group">
                <label asp-for="HotelName" class="control-label"></label>
                <input asp-for="HotelName" class="form-control" />
                <span asp-validation-for="HotelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelPrice" class="control-label"></label>
                <input asp-for="HotelPrice" class="form-control" />
                <span asp-validation-for="HotelPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HDateCheckInDate" class="control-label"></label>
                <input asp-for="HDateCheckInDate" class="form-control" />
                <span asp-validation-for="HDateCheckInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HDateCheckOutDate" class="control-label"></label>
                <input asp-for="HDateCheckOutDate" class="form-control" />
                <span asp-validation-for="HDateCheckOutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HQty" class="control-label"></label>
                <input asp-for="HQty" class="form-control" />
                <span asp-validation-for="HQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
