@model ddac.Models.Restaurant

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Restaurant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RestName" class="control-label"></label>
                <input asp-for="RestName" class="form-control" />
                <span asp-validation-for="RestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestPrice" class="control-label"></label>
                <input asp-for="RestPrice" class="form-control" />
                <span asp-validation-for="RestPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RDateCheckInDate" class="control-label"></label>
                <input asp-for="RDateCheckInDate" class="form-control" />
                <span asp-validation-for="RDateCheckInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RDateCheckOutDate" class="control-label"></label>
                <input asp-for="RDateCheckOutDate" class="form-control" />
                <span asp-validation-for="RDateCheckOutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RQty" class="control-label"></label>
                <input asp-for="RQty" class="form-control" />
                <span asp-validation-for="RQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
